.filter {
  padding: 16px;
}

h3 {
  margin: 0;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 1.65;
  font-size: 16px;
}

.radio-group {
  margin-top: 16px;
}

.radio-wrapper {
  line-height: 30px;
}

.top-margin {
  margin-top: 32px;
}

.select {
  width: 100%;
  margin-top: 8px;
}
