h3 {
  margin: 0;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.radio-group {
  margin-top: 16px;
}

.radio-wrapper {
  margin: 8px 0;
}

.top-margin {
  margin-top: 32px;
}

nz-select {
  width: 100%;
  margin-top: 8px;
}
