$font-prefix: '../node_modules/@ibm/plex';
@import '~@ibm/plex/scss/sans-thai/index';

body {
  margin: 0;
  font-family: 'IBM Plex Sans Thai';
  background-image: url('https://search-merchant.xn--42caj4e6bk1f5b1j.com/images/result-bg.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: rgba($color: #000000, $alpha: 0.85);
}

* {
  box-sizing: border-box;
}

a:link, a:hover, a:active, a:visited {
  color: inherit;
  text-decoration: underline;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

.splitter {
  margin: 0 12px;
}

.only-mobile {
  @media all and (min-width: 769px) {
    display: none;
  }
}

.only-desktop {
  @media all and (max-width: 768px) {
    display: none;
  }
}
