.result {
  padding: 18px 16px;
}

.heading-container {
  @media screen and (max-width: 768px) {
    margin-top: 8px;
  }
}

h2 {
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 48px;
  letter-spacing: -0.02em;
  line-height: 32px;
}

.filter-result {
  display: flex;
  align-items: flex-start;
}

.filter-container {
  width: 352px;
  background-color: #fff;
  border: 1px solid #a0aec0;
  margin-right: 32px;
  flex-shrink: 0;
}

.merchant-list {
  flex-grow: 1;
}

.show-more {
  width: 100%;
  max-width: 382px;
  height: 50px;
  margin: 40px auto 0 auto;
  display: block;
}

.notfound-title {
  font-size: 36px;
  margin-top: 80px;
  text-align: center;
  line-height: 1.65;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.notfound-body {
  margin-top: 16px;
  text-align: center;
  font-size: 16px;
  letter-spacing: -0.02em;
  line-height: 1.65;
}
