.result {
  padding: 18px 16px;
}

h2 {
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: -0.02em;
  margin-bottom: 48px;
}

.flex {
  display: flex;
  align-items: flex-start;
}

.sidebar-filter {
  width: 350px;
  background-color: #fff;
  border: 1px solid #a0aec0;
  margin-right: 32px;
}

.main-result {
  flex-grow: 1;
}

.show-more {
  width: 100%;
  max-width: 382px;
  height: 50px;
  margin: 40px auto 0 auto;
  display: block;
}
